/* Media Query for Header */
@media only screen and (max-width: 656px) {
    .items-container-center{
        display: none; /* This hides/removes the input field */
    }

    .item-notification-icon{
        margin: 0px 10px 0px 6px;
    }

    .media-query-search-div{
        display: flex;
    }
}


/* Media Query for Side Bar */
@media only screen and (max-width: 791px){
    .left-bar-container{
        display: none;
    }

    .sub-top-bar-container{
        left: 0;
    }

    .main-content-container{
        margin-left: 0;
    }
}


/* Media Query for Sub Header and Main content div */
@media only screen and (max-width: 1096px){
    .main-content-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 698px){
    .main-content-container{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }
    
    body, .sub-top-bar-container{
        display: grid;
        place-items: center;
    }

    .sub-top-bar-container{
        justify-content: space-around; 
        padding-left: 20px;
    }

    .sub-top-bar-container-flex{
        flex: 1;
        max-width: 520px;
    }

    

    .sub-top-bar-right-arrow-container{
        padding-left: 30px;
    }
}