/* Media Query for Header */
@media only screen and (max-width: 656px) {
    .items-container-center{
        display: none; /* This hides/removes the input field */
    }

    .item-notification-icon{
        margin: 0px 10px 0px 6px;
    }

    .media-query-search-div{
        display: flex;
    }
}


@media only screen and (max-width: 791px){
    .left-bar-container{
        display: none;
    }

    .sub-top-bar-container{
        left: 0;
    }
}